body{
    font-family:"Rubik", sans-serif;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#000000;
    autocomplete:"off";
    margin:0;
    height:100%;
    font-size:1.5em;
}

#mapDiv{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background: transparent;
}

.ol-visibility{
    color:var(--ol-background-color);
    top:.5em;
    right:.5em;
    font-size:1.5em;
}
.ol-visibility button{
    width:100%;
    font-size:1em;
}
.ol-visibility button.ol-control-unabled{
    background-color: var(--ol-subtle-background-color);
    color: var(--ol-partial-background-color);
}
.ol-touch .ol-visibility button{
    width:100%;
    font-size:1em;
}
.ol-infobox{
    color:var(--ol-background-color);
    bottom:.5em;
    left:50%;
    transform: translateX(-50%);
    padding-left:.5em;
    padding-right:.5em;
    font-size:2em;
}

.dot {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: inline-block;
}

h1{
    /*font-family:"Rubik Scribble", sans-serif;*/
    font-size: 2em;
    margin: .67em 0;
    color: white
}
h1 a{
    color: inherit;
    text-decoration: inherit;
}

hr{
    border:solid white thin;
}

button{
    font-family: inherit;
    font-size: inherit;
    color: DarkSlateBlue;
    border: solid DarkSlateBlue;
    background: white;
    border-radius : 10px;
    font-weight: bold;
}
button:disabled{
    background: color-mix(in srgb, white 25%, transparent);
    opacity: 1;
}
button:hover{
    background-color: lavender;
}
.big_button{
    font-size: 1.17em;
    border: solid white;
    padding-top: 0.34em;
    padding-bottom: 0.34em;
}
.icon_button{
    font-family: "Noto Sans Symbols 2";
    font-size: 1.17em;
    height: 2em;
    width: 2em;
}

.ui-layer {
    z-index: 3;
}
.game-layer {
    z-index: 2;
}
.background-layer {
    z-index: 1;
}

select{
    font-family: inherit;
    font-size: inherit;
    border-radius : 5px;
    border: none;
    color: DarkSlateBlue;
    outline: none;
}
select hr{
    color: DarkSlateBlue;
}

label {
    display: flex;
    align-items: center;
}
label input, label select{
    margin-left: 1em;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: white;
}

a{
    color:lightskyblue;
}
.a_button{
    color: inherit;
    text-decoration: inherit;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button:disabled:hover{
    background: color-mix(in srgb, white 25%, transparent);
    opacity: 1;
}
@-moz-document url-prefix(){
    .demo div canvas {
        margin-left : -3px;
        margin-right : -3px;
    }
}

input[type="text"],input[type="number"] {
    background-color: transparent;
    color: inherit;
    border: solid 1px;
    border-radius: 5px;
    width: 95%;
    font-family: inherit;
    font-size: inherit;
}
input:disabled {
    border: none;
}
input:focus-visible {
    outline: none;
    border-bottom: dotted 2px;
}

input[type="number"] {
    width: 6ch;
}
input[type="number"][min="0"] {
    width: 4ch;
}

.tooltip {
  font-family: "Nanum Myeongjo", serif;
  margin-left:0.2em;
  margin-right:0.2em;
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip span {
  font-family: "Rubik";
  font-weight: normal;
  visibility: hidden;
  width: 16em;
  background-color: black;
  color: white;
  text-align: center;
  border: solid white;
  border-radius: 10px;
  padding: 8px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -8em;
}

.tooltip:hover span{
  visibility: visible;
}
.tooltip p{
  padding-left: 1em;
  padding-right: 1em;
}